<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>

        
        {{ form_start(typeForm) }}

            {{ form_label(typeForm.name, 'Nom du type : ', {'label_attr' : {'class' : 'label'} } ) }}
            {{ form_widget(typeForm.name, {'attr' : {'placeholder' : ' Nom du type ', 'class' : 'title'} } ) }}

            {{ form_label(typeForm.description, 'Description du type : ', {'label_attr' : {'class' : 'label'} } ) }}
            {{ form_widget(typeForm.description, {'attr' : {'placeholder' : ' Description du type '} } ) }}

            {{ form_widget(typeForm.submit, {'attr' : {'label' : 'Enregistrer' } } ) }}

        {{ form_end(typeForm) }}
    
    </body>
</html>